@model eCommerceWeb.Models.Brand

@{
    ViewData["Title"] = "Düzenle";
}

<h1>@Model.Name Markasını Düzenle <a asp-controller="Brands" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mx-1">Sil</a></h1>
<hr />
<div class="row">
    <div class="col-md-4 ">
        <img class="rounded-circle" src="@Model.LogoUrl" alt="@Model.Name" style="width:250px; height:250px;" />
    </div>
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoUrl" class="control-label"></label>
                <input asp-for="LogoUrl" class="form-control" />
                <span asp-validation-for="LogoUrl" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <h4>@Model.Name Marka Ürünleri Düzenle</h4>
    <hr />
    <div class="row pt-3 mb-5">
        @foreach (var product in Model.Products)
        {
            <div class="col-2">
                <div class="card mb-4 border-3 text-light" style="background-color: #55AD9B; ">
                    <img src="@product.PictureUrl" class="card-img-top" alt="@product.Name" width=150px height=150px>
                    <div class="card-body text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height:150px;">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">$@product.Price</p>
                        <a class="btn btn-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">Ürünü Düzenle</a>
                    </div>
                </div>
            </div>
        }

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
