@using System.Globalization
@using eCommerceWeb.Data.Enums

@model IEnumerable<eCommerceWeb.Models.Product>

@{
    var currencyFormat = new CultureInfo("tr-TR");
    var category = ViewBag.Category as string;
    ViewData["Title"] = "Ürünler";
}

@if (category != null)
{
    <h1>@category Ürünleri</h1>
}
else
{
 <h1>Ürünler</h1>   
}
<hr />

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-2 ">
            <div class="card mb-4 border-3 text-light" style="background-color: #55AD9B;">
                <div class="m-2"><img src="@product.PictureUrl" class="card-img-top" alt="@product.Name" width=150px height=150px></div>

                <div class="card-body" height=150px>
                    <h5 class="card-title">@product.Name</h5>
                    <h6 class="card-text">$@product.Price.ToString("c", currencyFormat)</h6>
                    
                </div>
                <div class="card-footer" >
                    <a class="btn btn-primary mx-1" asp-action="Details" asp-route-id="@product.Id">İncele</a>
                    @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id"><i class="bi bi-trash"></i> Sil</a>
                    }
                </div>
            </div>
        </div>
    }

</div>

