@using eCommerceWeb.Data.Enums
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eCommerceWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eCommerceWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <style>

        body {
            background-color: #F1F8E8;
        }

        .navbar {
            background-color: #95D2B3;
        }

        .navbar-brand, .navbar-nav .nav-link {
            color: #D8EFD3; 
        }

        .navbar-toggler {
            border-color: #D8EFD3;
        }

        .footer {
            background-color: #95D2B3; 
            color: #ffffff; 
            padding: 1rem 0;
            text-align: center;
        }

        .nav-item:not(:last-child) .nav-link::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 70%;
            border-right: 1px solid #95D2B3;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eCommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shops" asp-action="Index">Dükkanlar</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Seller"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Shops" asp-action="MyShop">Dükkanım</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-gear"></i> Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Ürünler</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Brands" asp-action="Index">Markalar</a>
                                </div>
                            </li>
                        }
                    </ul>

                    <form class="d-flex" asp-controller="Products" asp-action="Filter">
                        <input name="searchString" type="text" class="form-control" placeholder="Ara" aria-label="Recipient's name" aria-describedby="button-addon2" />

                        <span style="padding:1px"></span>

                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    
                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>

                    <span style="padding:10px"></span>
                    <partial name="_Identity.cshtml" />

                </div>
            </div>
        </nav>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light mb-3 pb-2" style="background-color: #F1F8E8; padding: 0;">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item" style="position: relative;"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@ProductCategory.Electironic" style="padding: 0.5rem 1rem;">Elektronik</a></li>
                <li class="nav-item" style="position: relative;"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@ProductCategory.Fashion" style="padding: 0.5rem 1rem;">Moda</a></li>
                <li class="nav-item" style="position: relative;"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@ProductCategory.Home" style="padding: 0.5rem 1rem;">Ev & Bahçe</a></li>
                <li class="nav-item" style="position: relative;"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@ProductCategory.Selfcare" style="padding: 0.5rem 1rem;">Kişisel Bakım</a></li>
                <li class="nav-item" style="position: relative;"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@ProductCategory.Book" style="padding: 0.5rem 1rem;">Kitap</a></li>
                <li class="nav-item" style="position: relative;"><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@ProductCategory.Hobby" style="padding: 0.5rem 1rem;">Hobi</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - eCommerceWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
